* {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
}

body {
  margin: 0;
  font-family: "Open Sans";
  background: $dark-color;
  color: $light-color;
}

pre {
  margin-top: 0;
}

.listingblock > .title {
  color: $lightest-color;
}

code:not([class]) {
  white-space: nowrap;
  border: 1px solid #063a56;
  border-radius: 4px;
  background-color: #082b3f;
  color: $lightest-color;
  font-style: normal !important;
  letter-spacing: 0;
  padding: .1em .5ex;
  font-weight: 200;
  word-spacing: -.15em;
}

.conum {
  color: black;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  font-size: .75em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-style: normal;
  font-weight: bold;
}

b.conum > span.hljs-number {
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: $lightest-color;
}

h1 {
  font-family: Quicksand;
  font-size: 2em;
}

.copyright {
  margin-top: 0.5em;
  text-align: center;
  font-size: 0.7rem;
  color: $primary-color;
}

a {
  color: #E9F289;
  transition: color 0.5s;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

// Browsers seem to use a smaller default font-size with monospaced code
// blocks (like 80% of the size of normal text) and that looks pretty bad with
// small inline code-blocks in the middle of normal text (mainly because of
// the very noticeable difference in x-height). This CSS corrects that problem.
code {
  font-family: monospace, monospace;
  font-size: 1em;
  color: rgba($light-color, .8);
}

pre {
  // A larger monospaced block of text (that isn't mixed with normal text)
  // generally looks heavier than normal text with the same font size. For this
  // reason using a smaller monospaced font size makes sense in this situation.
  code {
    font-size: .8em;
  }

  overflow: auto;
}

::selection {
  background: rgba($light-color, .25);
}

::-moz-selection {
  background: rgba($light-color, .25);
}
